* {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247);
}
.flex {
    display: flex;
}
.j-cent{
    justify-content: center;
}
.s-between {
    justify-content: space-between;
}
.a-cent{
    align-items: center; 
}
.topo {
    width: 100vw;
    height: 10vh;
    background-color: white;
    border: 1px solid rgb(192, 191, 191);
}
.topo * {
    background-color: white;
    
}
.margin-top {
    margin-top: 80px;
}
.box {
    width: 70vw; 
}
.box-1 {
    width: 50vw;
    margin: 5px
}
.box-2 {
    width: 15vw;
    margin: 5px;
}
.pesquisa img {
    height: 12px;
    width: 12px;
}
.lista li {
    padding: 10px;
    list-style-type: none;
}
.conteudo {
    border: 2px solid black;
}
.hist {
    border: 2px solid black;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 30px;
    width: 30px;
}